.loginWrapp{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    width: 300px;
}
.login__area{
    width: 100%;
}